# Initial Research

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00516/active_wiretap/Active%20Wiretap_dataset.csv.gz",header=None)

In [3]:
labels = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00516/active_wiretap/Active%20Wiretap_labels.csv.gz")

In [4]:
df.columns = np.arange(1,df.shape[1]+1)

In [8]:
labeled_df = df
labeled_df["Label"] = np.array(labels['x'])

One of the first issues we identify with this data set is that it has no feature headers. As is referenced in the paper, the features are produced through a feature extraction framework called AfterImage which produces meta data for the packets but doesn't provide any indication of what each feature is.

In [12]:
labeled_df

,1,2,3,4,5,6,7,8,9,10,...,107,108,109,110,111,112,113,114,115,Label
0,1.000000,209.000000,0.000000,1.000000,209.000000,0.000000,1.000000,209.000000,0.000000,1.000000,...,0.0,0.0,1.000000,209.000000,0.000000,209.000000,0.000000,0.0,0.0,0
1,1.997325,862.373975,425755.486168,1.998394,862.024385,425755.975020,1.999464,861.674795,425756.219447,1.999946,...,0.0,0.0,1.999995,861.501748,652.500000,861.501748,425756.249997,0.0,0.0,0
2,2.996411,1079.842842,378082.653480,2.997845,1079.505801,378229.720545,2.999281,1079.168633,378376.616388,2.999928,...,0.0,0.0,2.999993,1079.001686,615.182303,1079.001686,378449.266376,0.0,0.0,0
3,3.994158,1188.540874,318800.516638,3.996493,1188.224671,319007.239438,3.998830,1187.908272,319213.889702,3.999883,...,0.0,0.0,3.999988,1187.751583,565.080662,1187.751583,319316.154612,0.0,0.0,0
4,4.992429,1253.731406,271910.774230,4.995455,1253.439018,272140.056044,4.998484,1253.146398,272369.349253,4.999848,...,0.0,0.0,4.999985,1253.001464,521.998902,1253.001464,272482.853479,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278684,332.609473,1340.177692,183232.882631,529.813022,1341.631327,181398.521536,1472.758384,1340.599998,182217.882899,14106.165422,...,0.0,0.0,16954.764412,1341.785229,425.384638,1341.785229,180952.090098,0.0,0.0,1
2278685,333.431978,1340.699005,182773.690611,530.643364,1341.956156,181112.560074,1473.601164,1340.717669,182114.618372,14107.014829,...,0.0,0.0,16955.746311,1341.795385,425.374150,1341.795385,180943.167110,0.0,0.0,1
2278686,334.346580,1337.526551,185581.985136,531.561816,1339.958352,182889.431004,1474.525673,1339.998307,182753.633570,14107.942558,...,0.0,0.0,16956.737625,1341.732767,425.439749,1341.732767,180998.979720,0.0,0.0,1
2278687,332.219835,1338.057746,185116.832751,529.573574,1340.286997,182601.168633,1472.757402,1340.116454,182650.087934,14106.291696,...,0.0,0.0,26411.030394,1341.496875,425.529675,1341.496875,181075.504671,0.0,0.0,1
2278688,332.780358,1338.586450,184653.301254,530.153135,1340.614663,182313.550074,1473.367548,1340.234472,182546.627584,14106.918244,...,0.0,0.0,26411.960472,1341.503406,425.522944,1341.503406,181069.775475,0.0,0.0,1

In [9]:
labeled_df.groupby("Label").size()

Label
0    1355473
1     923216
dtype: int64

In [15]:
labeled_df

AttributeError: 'DataFrame' object has no attribute 'summary'

### References

1. [Kitsune Datasets](https://archive.ics.uci.edu/ml/datasets/Kitsune+Network+Attack+Dataset)
2. [Kitsune Paper](https://arxiv.org/pdf/1802.09089.pdf)
3. [Dataset description](https://www.kaggle.com/ymirsky/network-attack-dataset-kitsune)