In [2]:
import pandas as pd
import os 
from dbscan2 import dbscan2
from sklearn.datasets import make_moons
import time
from datetime import datetime

In [3]:
pd.options.display.float_format = '{:,}'.format

In [4]:
sh_file = os.getcwd()[:-4] + 'Data\\session_hosts.txt'
rt_sh = list(pd.read_csv(sh_file, header=None)[0])

In [5]:
path = 'D://LA//NetFlow//'
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=9000000)

In [6]:
headers = (['Time', 'Duration', 'SrcDevice', 'DstDevice', 'Protocol',
            'SrcPort', 'DstPort', 'SrcPackets', 'DstPackets', 'SrcBytes', 'DstBytes'])
df_netflow.columns = headers

In [7]:
rt_src_sh = df_netflow[df_netflow['SrcDevice'].isin(rt_sh)]

In [8]:
rt_src_sh

,Time,Duration,SrcDevice,DstDevice,Protocol,SrcPort,DstPort,SrcPackets,DstPackets,SrcBytes,DstBytes
31,5961600,0,Comp700191,Comp960080,6,Port39411,443,34,47,8964,46413
84,5961600,0,Comp939275,Comp275646,17,Port90094,53,1,0,80,0
85,5961600,0,Comp939275,Comp275646,17,Port93126,53,1,0,80,0
86,5961600,0,Comp939275,Comp275646,17,Port18069,53,1,0,80,0
87,5961600,0,Comp939275,Comp275646,17,Port28502,53,1,0,80,0
...,...,...,...,...,...,...,...,...,...,...,...
8998385,5966106,1,Comp953804,Comp607039,6,Port66686,Port34623,0,1,0,46
8998386,5966106,1,Comp953804,Comp607039,6,Port44186,Port17392,0,1,0,46
8998387,5966106,1,Comp953804,Comp607039,6,Port66307,Port37891,0,1,0,46
8999165,5966107,0,Comp679250,Comp576031,17,Port95250,514,1,0,1500,0
8999522,5966107,0,Comp100143,Comp576031,17,Port84879,514,2,0,1192,0

In [9]:
rt_src_sh.shape[0]/df_netflow.shape[0]

0.037448333333333333

In [10]:
path = 'D://LA//NetFlow//'
df_netflow = pd.read_csv(path + 'N71.bz2', header=None, nrows=9000000)

In [11]:
headers = (['Time', 'Duration', 'SrcDevice', 'DstDevice', 'Protocol',
            'SrcPort', 'DstPort', 'SrcPackets', 'DstPackets', 'SrcBytes', 'DstBytes'])
df_netflow.columns = headers

In [12]:
rt_src_sh = df_netflow[df_netflow['SrcDevice'].isin(rt_sh)]

In [13]:
rt_src_sh

,Time,Duration,SrcDevice,DstDevice,Protocol,SrcPort,DstPort,SrcPackets,DstPackets,SrcBytes,DstBytes
56,6048000,0,Comp700191,Comp005591,6,Port38876,443,21,25,6786,19902
1482,6048000,1,Comp697805,Comp275646,17,Port54145,53,1,0,60,0
2153,6048000,115,Comp274254,ActiveDirectory,17,Port33855,53,1,1,69,69
2762,6048001,0,Comp511892,Comp576031,17,Port07887,514,1,0,308,0
3598,6048001,1,Comp700191,Comp886995,6,Port78592,443,21,22,7522,13750
...,...,...,...,...,...,...,...,...,...,...,...
8999188,6053433,1,Comp267441,Comp576031,17,Port99160,514,4,0,4923,0
8999363,6053433,2,Comp700191,Comp324742,6,Port25507,Port59938,185,292,22614,339101
8999794,6053434,0,Comp274254,Comp576031,17,Port14258,514,11,0,9445,0
8999858,6053434,0,Comp256041,Comp760873,17,Port72566,427,0,1,0,422
8999886,6053434,0,Comp021706,Comp576031,17,Port48836,514,1,0,1396,0

In [14]:
rt_src_sh.shape[0]/df_netflow.shape[0]

0.004451333333333333

In [44]:
from sklearn.cluster import DBSCAN
db = DBSCAN(eps=0.1, min_samples=10).fit(rt_src_sh)
labels = db.labels_

no_clusters = len(np.unique(labels) )
no_noise = np.sum(np.array(labels) == -1, axis=0)

print('Estimated no. of clusters: %d' % no_clusters)
print('Estimated no. of noise points: %d' % no_noise)

ValueError: could not convert string to float: 'Comp700191'

In [50]:
start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=9000000)
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:23.550215

In [51]:
start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=9000000, na_filter=False)
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:22.638408

In [57]:
start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=9000000, na_filter=False, usecols=range(0,7))
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:20.357187

In [56]:
df_netflow.head()

         0  1           2           3   4          5    6
0  5961600  0  Comp703838  Comp275646  17  Port90505   53
1  5961600  0  Comp203145  Comp576031  17  Port84903  514
2  5961600  0  Comp556017  Comp576031  17  Port05768  514
3  5961600  0  Comp530653  Comp576843   6  Port08787   80
4  5961600  0  Comp488605  Comp275646  17  Port26125   53

In [15]:
start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=1000000)
end_time = datetime.now()
F1 = end_time - start_time
print('Duration: {}'.format((F1)))

start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=1000000, na_filter=False)
end_time = datetime.now()
F2 = end_time - start_time
print('Duration: {}'.format(F2))

start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=1000000, na_filter=False, usecols=range(0,7))
end_time = datetime.now()
F3 = end_time - start_time
print('Duration: {}'.format(F3))

Duration: 0:00:03.311344
Duration: 0:00:02.366318
Duration: 0:00:02.257352

In [ ]:
start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=25000000)
end_time = datetime.now()
F1 = end_time - start_time
print('Duration: {}'.format((F1)))

start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=25000000, na_filter=False)
end_time = datetime.now()
F2 = end_time - start_time
print('Duration: {}'.format(F2))

start_time = datetime.now()
df_netflow = pd.read_csv(path + 'N70.bz2', header=None, nrows=25000000, na_filter=False, usecols=range(0,7))
end_time = datetime.now()
F3 = end_time - start_time
print('Duration: {}'.format(F3))

Duration: 0:01:57.264834

In [16]:
type(F1)

datetime.timedelta